.puzzleContentStyle {
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
}

.puzzleContentRowStyle {
    display: block;
    line-height: 40px;
    text-align: center;
}

.answer-record-radio .ant-radio-inner {
    display: none; /* 隐藏小圆点 */
}

.image-row {
    display: flex; /* 使用 flex 布局 */
    gap: 16px; /* 设置图片之间的间距 */
    padding: 16px; /* 可选：添加内边距 */
    flex-wrap: nowrap
}

.image-container {
    flex: 1; /* 每个容器均分宽度 */
    max-width: 100%; /* 防止容器超出父元素 */
    aspect-ratio: 1 / 1; /* 保持宽高比为 1:1 */
    overflow: hidden; /* 隐藏超出部分 */
    border: 1px solid #ddd; /* 可选：添加边框 */
    border-radius: 8px; /* 可选：添加圆角 */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.custom-carousel-container {
    position: relative;
    width: 100%;
    height: 92.3%;
    background-color: #f2f2f2;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); /* 按钮背景色 */
    border: none;
    color: white; /* 按钮颜色 */
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 圆形按钮 */
}

.prev-button {
    left: 16px; /* 左侧按钮位置 */
}

.next-button {
    right: 16px; /* 右侧按钮位置 */
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8); /* 鼠标悬停时的背景色 */
}